* {
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body {
  background: url("imagens/fundo-promocao.png") no-repeat center center fixed;
  background-size: cover;
  color:#333;
  text-align:center;
  position: relative;
  z-index: 0;
}

body::before {
  content: "";
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.25);
  z-index: -1;
}

header {
  background: transparent;
  color:white;
  padding:120px 20px 80px;
}

.logo {
  width:600px;
  height:auto;
  display:block;
  margin:0 auto 40px;
}

h1 {
  color:#d4a373;
  font-size:65px;
}

h2 {
  color:#d4a373;
  margin-bottom:20px;
}

section {
  padding:60px 20px;
}

.catalogo .grid {
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  gap:20px;
}

.produto {
  background:white;
  max-width:300px;
  margin:20px auto;
  padding:25px;
  border-radius:15px;
  box-shadow:0 5px 15px rgba(0,0,0,.15);
  transition:.3s;
}

.produto img {
  width:100%;
  height:auto;
  margin-bottom:15px;
}

.produto:hover {
  transform:translateY(-8px);
}

.preco {
  font-size:20px;
  font-weight:bold;
  color:#25D366;
}

.botao {
  display:inline-block;
  margin-top:15px;
  background:#25D366;
  color:white;
  text-decoration:none;
  padding:12px 25px;
  border-radius:50px;
  font-weight:bold;
  transition:.3s;
}

.botao:hover {
  transform:scale(1.05);
}

footer {
  background:#111;
  color:white;
  padding:30px;
}
